@use 'sass:list';

$darkColors: 'green', 'blue', 'red', 'black', 'yellow';

.btn {
	// padding: ;
	// border: 1px solid #fff;
	min-width: 60px;
	padding: 8px 12px;
	border-radius: 4px;
	box-shadow: 3px 2px 3px 0px #00000040;
}

.btn:focus {
	box-shadow: none;
}

@each $color in $darkColors {
	.btn-#{$color} {
		background: #{$color};
		color: #fff;
		&:hover {
			box-shadow: none;
			transition: 0.2s;
		}
	}
}
