doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet" href="/src/scss/app.css")
		title Online Clipboard
		if user
			script.
				const user = "#{user.username}"
	body
		header 
			.container 
				h1 Klippo Online Clipboard
		main 
			article.container#howto 
				h3 How to use?
				ul.col-sm-2
					li Enter the text you want to copy into the "Paste your text here" input box and hit "Send"
					li Go to your other device and enter the generated code into the "Enter your retrieval code" box and hit retrieve  
					li Enjoy.
				
				p By using this service you agree to the 
					a(href="https://github.com/peteradeojo/klippo/blob/main/terms.md") Terms & Conditions

			#app
				div.d-flex
					.col-sm-2
						.action
							form#submit-form(action="" method="post")
								.form-group 
									label(for="subject") Paste your text here
									textarea#subject(name="text", cols="30", rows="10" type="text" required).form-control
								.form-group
									if !user
										a.btn.btn-blue(href="/login") Login to Send Files
									//- label(for="file").btn.btn-green Select a File 
									//- input#file(type="file", name="file" style="display:none")
									//- div.mt-1#file-name
								.form-group
									button(type="submit").mt-1 Send
								#display

					.col-sm-2
						.action
							form#retrieve-form(action="" method="post")
								.form-group
									label(for="object") Enter your retrieval code
									input#object(type="text" name="code" required).form-control
									button(type="submit").mt-1 Retrieve
								#display
					
					 
				#retrieved-text 
				#retrieved-file.p-1.hide
					.file-icon 
					.file-link

				.contact
					a(href="https://github.com/peteradeojo" target="_blank" rel="noopener noreferrer")
						img(src="/img/github.svg" alt="Github" srcset="").contact_icon
						
					a(href="https://www.linkedin.com/in/peter-ade-ojo-0a52581aa" target="_blank" rel="noopener noreferrer")
						img(src="/img/linkedin.svg" alt="LinkedIn" srcset="").contact_icon
						
					a(href="https://twitter.com/shouldbepete" target="_blank" rel="noopener noreferrer")
						img(src="/img/twitter.svg" alt="Twitter" srcset="").contact_icon
						


		script(src="/js/app.js") 
