extends layouts/app

block content 
	.container 
		h1 Login

		form(action="/auth/login" method="post")
			.form-group 
				label(for="username") Username or Email
				input#username(type="text" name="username" required).form-control
			.form-group 
				label(for="password") Password 
				input#password(type="password" name="password" required).form-control
			.form-group 
				input.btn.btn-green(type="submit" value="Login")

		.container 
			.center
				p.my-3 Login With

				a(href="/auth/google").btn.btn-black
					i.fab.fa-google 



