@use 'base.scss';
@use 'forms.scss';
@use 'responsive.scss';
@use 'spacing.scss';
@import 'components/button';

body,
html {
	background-color: rgb(231, 231, 231);
}

header {
	padding: 2rem;
	background-color: black;
	color: white;
	text-align: center;
	margin: 3rem auto 0 auto;
	width: 100%;
	max-width: 900px;
	border-radius: 8px;

	@media screen and (max-width: 1024px) {
		border-radius: 0px;
	}
}

main {
	background-color: rgb(231, 231, 231);
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 1rem;

	@media screen and (max-width: 768px) {
		padding: 1rem;
	}
	#howto {
		padding-left: 3rem;
		h3 {
			font-size: 1.8rem;
			margin-bottom: 0.5rem;
		}

		ul {
			line-height: 1.8rem;
			li {
				max-width: 1000px;
			}
		}
	}

	#app {
		background-color: rgb(202, 202, 202);
		padding: 1rem;
		margin-top: 1rem;
		border-radius: 8px;

		@media screen and (max-width: 460px) {
			display: flex;
			flex-direction: column;
		}
	}

	.contact {
		margin: 4rem 0 0;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			img {
				&:hover {
					box-shadow: none;
					transition: 0.2s;
				}
			}
		}
	}
}
