$spacing_base: 5px;

@for $i from 1 through 5 {
	.mt-#{$i} {
		margin-top: $i * $spacing_base;
	}
	.mb-#{$i} {
		margin-bottom: $i * $spacing_base;
	}
	.my-#{$i} {
		margin-top: $i * $spacing_base;
		margin-bottom: $i * $spacing_base;
	}
	.mx-#{$i} {
		margin-left: $i * $spacing_base;
		margin-right: $i * $spacing_base;
	}
	.p-#{$i} {
		padding: $i * $spacing_base;
	}
}
